#header {
    margin:auto;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}
//ANIDAMIENTO
.nav {
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    li {
        a {
            //background-color:rgb(156, 208, 221);
            color:#fff;
            text-decoration:none;
            padding:10px 70px;
            display:block;
            
        }

        ul {
            margin: 0px;
            
            li {
                position:relative;

                a {
                    background-color:#4B466A;
                }

                ul {
                    right: -140px;
                    top:0px;
                }
            }

            display:none;
            position:absolute;
            min-width:140px;


        }

        a:hover {
            background-color:#434343;
            opacity:0.2;
        }
    }
}

.nav li:hover > ul {
    display:block;
}